html {
    position: relative !important;
    min-height: 100% !important;
}
body {
    padding-bottom: 68px !important;
}
.zlun-footer {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 68px !important;
}

.zlun-box {
    width: 48%;
    display: inline-block;
}

.zlun-img {
    background-size:contain|cover;
    width:100%;
    height: auto;
}

.zlun-bottom-box {
    width: 100%;
    position: fixed !important;
    bottom: -1px;
    z-index: 99;
}

#search_div {
    max-width: 272px;
    width: 100%;

    display: block;
    transition: .2s ease-in-out;
    transition-property: max-width,padding-bottom,padding-top;
}
#search_input {
    width: 100%;
}